* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 12px;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.player {
  text-align: center;
  width: 40%;
}

aside {
  width: 55%;
}

aside legend {
  text-align: center;
}

.player fieldset {
  min-height: 200px;
}

button {
  margin-left: 8px;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #4a2396;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset , rgba(50, 50, 93, 0.1) 0 2px 5px 0 , rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: tahoma;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 4px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: all 0.2s , box-shadow 0.08s ease-in;
  user-select: none;
  user-select: none;
}

button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset , rgba(50, 50, 93, 0.2) 0 6px 15px 0 , rgba(0, 0, 0, 0.1) 0 2px 2px 0 , rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

ul li {
  line-height: 2em;
  margin-left: 16px;
}

h1 {
  color: #2cb98e;
}
