body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.header {
  background-image: url('./image/International_Pokémon_logo.svg.png');
  width: 100%;
  height: 150px;
  background-repeat:no-repeat;
  background-size: 20%;
  background-position: center;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 0;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
  background-color: yellow;
  margin-top: 15px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}
