body {
  font-size: 16px;
}

h1 {
  font-size: 3em;
  color: orange;
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font-style: italic;
  font-size: 2em;
  font-family: sans-serif;
  text-align: justify;
}

#red {
  font-size: 20px;
  background-color: red;
  line-height: 25px;
  padding: 5px 5px;
}

#green {
  font-size: 20px;
  background-color: green;
  line-height: 25px;
  padding: 5px 5px;
}

#black {
  font-size: 20px;
  background-color: black;
  color: white;
  line-height: 25px;
  padding: 5px 5px;
}

.fundo-style {
  background-color: green;
}

p {
  font-weight: 600;
  font-size: 48px;
  text-align: justify;
}

ol {
  font-size: 20px;
  text-decoration: underline;
  line-height: 25px;
  padding: 10px 40px;
}